<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>girls' day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/masonry.pkgd.min.js"></script>
    <script src="/javascripts/mustache.min.js"></script>
    <script src="/javascripts/socket.io.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <header id="header" role="banner">
      <div id="banner">
        <div class="container">
          <h1>Hi, girls</h1>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row hidden-print">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div id="notification-panel">
            <div class="alert alert-danger fade in" data-template-type="error">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{# title }}<strong>{{ title }}</strong>{{/ title }}
              <p>{{ content }}</p>
            </div>
            <div class="alert alert-success fade in" data-template-type="success">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{# title }}<strong>{{ title }}</strong>{{/ title }}
              <p>{{ content }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row hidden-print">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
<% if (!user) { %>
          <div id="sign-in-panel" class="form-group"><a class="btn btn-lg btn-primary" href="/auth"><span class="glyphicon glyphicon-refresh icon-spin loading"></span> <span class="text">Sign in with Google</span><span class="loading">Signing in...</span></a></div>
<% } else { %>
          <div id="user-info-panel" class="well clearfix">
            <strong><span class="glyphicon glyphicon-user"></span> <%= user.name %></strong> <span class="text-muted"><%= user.email %></span>
            <span class="pull-right"><a href="/logout">Log out</a></span>
          </div>
<%   if (user.authorized) { %>
          <div id="new-post-panel">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#new-message" data-toggle="tab"><span class="glyphicon glyphicon-pencil"></span> Message</a></li>
              <li><a href="#new-wish" data-toggle="tab"><span class="glyphicon glyphicon-heart"></span> Wish</a></li>
            </ul>
            <div class="tab-content">
              <div id="new-message" class="tab-pane active">
                <div class="form-group">
                  <label class="sr-only" for="message-input">New message</label>
                  <textarea type="text" class="form-control" id="message-input" placeholder="Write a message"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default" id="new-message-btn"><span class="glyphicon glyphicon-envelope"></span> Send</button>
                </div>
              </div>
              <div id="new-wish" class="tab-pane">
                <div class="form-group">
                  <label class="sr-only" for="wish-input">New wish</label>
                  <textarea type="text" class="form-control" id="wish-input" placeholder="Write a wish"></textarea>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input id="public-wish-checkbox" type="checkbox" checked> Public
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default" id="new-wish-btn"><span class="glyphicon glyphicon-send"></span> Send</button>
                </div>
              </div>
            </div>
          </div>
<%   } else { %>
          <div class="well well-lg">
            <p>Unauthorized</p>
          </div>
<%   }
   } %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div id="post-panel" class="row">
            <div class="post-item-sizer col-xs-12 col-sm-6"></div>
            <div class="post-item col-xs-12 col-sm-6" data-template-type="message">
              <div class="post-item-inner {{ user.gender }}">
                <header class="clearfix">
                  <div class="avatar pull-left">
                    <img class="img-circle" data-src="{{ user.picture }}" alt="{{ user.name }}">
                  </div>
                  <div class="post-info">
                    <div>
                      <strong>{{ user.name }}</strong> <a href="mailto:{{ user.email }}" target="_blank">{{ user.email }}</a>
                    </div>
                    <div class="text-muted">
                      <time>{{ time }}</time>
                    </div>
                  </div>
                </header>
                <div class="content">
                  {{ content }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="container">
        <p class="copyright">THSS10 &copy; 2014</p>
      </div>
    </footer>
  </body>
</html>