<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>girls' day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/masonry.pkgd.min.js"></script>
    <script src="/javascripts/mustache.min.js"></script>
    <script src="/javascripts/socket.io.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <header id="header" role="banner">
      <div id="banner">
        <div class="container">
          <h1>Hi, girls</h1>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row hidden-print">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div id="notification-panel">
            <div class="alert alert-danger fade in" data-template-type="error">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{# title }}<strong>{{ title }}</strong>{{/ title }}
              <p>{{ content }}</p>
            </div>
            <div class="alert alert-success fade in" data-template-type="success">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{# title }}<strong>{{ title }}</strong>{{/ title }}
              <p>{{ content }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row hidden-print">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
<% if (!user) { %>
          <div class="well well-lg"><a href="/auth">Sign in with Google</a></div>
<% } else { %>
          <div class="well">
            <strong><%= user.name %></strong>
            <span class="pull-right"><a href="/logout">Log out</a></span>
          </div>
<%   if (user.authorized) { %>
          <div id="new-post-panel">
            <div class="form-group">
              <label class="sr-only" for="message-input">New message</label>
              <textarea type="text" class="form-control" id="message-input" placeholder="Write a message"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default" id="new-post-btn">Send</button>
            </div>
          </div>
<%   } else { %>
          <div class="well well-lg">
            <p>Unauthorized</p>
          </div>
<%   }
   } %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div id="post-panel" class="row">
            <div class="post-item-sizer col-xs-12 col-sm-6"></div>
            <div class="post-item col-xs-12 col-sm-6" data-template-type="message">
              <blockquote>
                <header>
                  <span>{{ user.name }} ({{ user.email }})</span>
                  <time class="pull-right">{{ time }}</time>
                </header>
                <p>{{ content }}</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="container">
        <p class="copyright">THSS10 &copy; 2014</p>
      </div>
    </footer>
  </body>
</html>