<!DOCTYPE html>
<html>
  <head>
    <title>girls' day</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>girls' day</h1>
    <p>Welcome to 411A</p>
  </body>
</html>