html {
  position: relative;
  min-height: 100%;
}

body {
  /* margin bottom by footer height */
  margin-bottom: 60px;
}

#banner {
  border-bottom: none;
  border-bottom: 2em solid rgba(255, 255, 255, .2);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

#banner {
  margin-bottom: 20px;
  background-color: transparent;
}

#banner img {
  width: 100%;
}

#sign-in-panel, #user-info-panel, #new-post-panel, #unauthorized-user-panel {
  padding: 5px;
}

#user-info-panel a.btn {
  color: #333333;
}

body.default {
  background-image: url('../images/bg-default.png');
}

body.default #user-info-panel strong {
  color: rgba(255, 255, 255);
  color: rgba(255, 255, 255, 0.6);
}

body.default a {
  color: #f30021;
}

body.default a:hover, body.default a:focus {
  color: #f93e58;
}

body.default a.btn-danger {
  color: white;
}

body.default #user-info-panel .email {
  color: #f30021;
}

body.default #new-post-panel .checkbox label {
  color: rgba(255, 255, 255);
  color: rgba(255, 255, 255, 0.8);
}

body.female {
  background-image: url('../images/bg-female.png');
}

body.female #user-info-panel strong {
  color: rgba(255, 255, 255);
  color: rgba(255, 255, 255, 0.6);
}

body.female a {
  color: #75123b;
}

body.female a:hover, body.female a:focus {
  color: #ba4475;
}

body.female #user-info-panel .email {
  color: #75123b;
}

body.female #new-post-panel .checkbox label {
  color: rgba(255, 255, 255);
  color: rgba(255, 255, 255, 0.8);
}

body.male {
  background-image: url('../images/bg-male.png');
}

body.male #user-info-panel strong {
  color: rgba(255, 255, 255);
  color: rgba(255, 255, 255, 0.6);
}

body.male a {
  color: #428bca;
}

body.male a:hover, body.male a:focus {
  color: #2a6496;
}

body.male #user-info-panel .email {
  color: #428bca;
}

body.male #new-post-panel .checkbox label {
  color: rgba(255, 255, 255);
  color: rgba(255, 255, 255, 0.8);
}

#new-post-panel ul.nav-tabs {
  border: none;
  margin-bottom: 5px;
}

#new-post-panel ul.nav-tabs > li > a {
  border: none;
  border-radius: 4px;
  padding: 6px 8px;
  margin-right: 4px;
}

#new-post-panel ul.nav-tabs > li.active > a {
  background-color: rgba(255, 255, 255, 0.75);
}

#new-post-panel ul.nav-tabs > li > a:hover, 
#new-post-panel ul.nav-tabs > li > a:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

#new-post-panel button, #user-info-panel a.btn {
  padding: 5px 10px;
}

#new-post-panel textarea {
  resize: vertical;
  max-height: 100px;
}

#new-post-panel .form-group {
  margin-bottom: 6px;
}

#post-panel {
  margin-bottom: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* set the fixed height of the footer here */
  height: 60px;
}

#footer .copyright {
  margin: 0;
  color: rgba(255, 255, 255);
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

body.default #footer .copyright, body.male #footer .copyright {
  color: rgba(255, 255, 255);
  color: rgba(255, 255, 255, 0.4);
}

.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sign-in-panel a.btn {
  display: block;
}

#sign-in-panel span.loading {
  display: none;
}

/* workaround for pixel rounding bug in Masonry related to wrong `isBoxSizeOuter` 
   under certain browser zooming settings */
#post-panel {
  margin-left: 0;
  margin-right: 0;
}

.post-item, .post-item-sizer {
  padding-left: 0;
  padding-right: 0;
}
/* end of workaround */

.post-item-sizer {
  visibility: hidden;
  clear: both;
}

.post-item-inner {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
}

.post-item-inner .avatar img {
  margin: 0.25em 0.5em;
  width: 2.5em;
  height: 2.5em;
}

.post-item-inner .wish-bg span {
  font-size: 36px;
  color: #f53d68;
}

.post-item-inner .content {
  padding: 10px;
}

.post-item-inner .content pre {
  border: none;
  padding: 5px 0;
  background: transparent;
  color: #111111;
}

.invitation-item .content {
  text-align: center;
}

.invitation-item img.invitation {
  max-width: 100%;
  display: inline-block;
}

@media (min-width: 1600px) {
  .container {
    width: 1540px;
  }
}

@media print {
  .post-item {
    width: 100%!important;
    position: relative!important;
    top: auto!important;
    bottom: auto!important;
    left: auto!important;
    right: auto!important;
  }
}