html {
  position: relative;
  min-height: 100%;
}

body {
  /* margin bottom by footer height */
  margin-bottom: 60px;
}

#banner {
  margin-top: 50px;
  margin-bottom: 20px;
  height: 200px;
  background-color: #cccccc;
}

#new-post-panel textarea {
  resize: vertical;
  max-height: 100px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#footer .copyright {
  margin: 20px 0;
  color: #999999;
  text-align: center;
}

.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sign-in-panel a.btn {
  display: block;
}

#sign-in-panel span.loading {
  display: none;
}

/* workaround for pixel rounding bug in Masonry related to wrong `isBoxSizeOuter` 
   under certain browser zooming settings */
#post-panel {
  margin-left: 0;
  margin-right: 0;
}

.post-item, .post-item-sizer {
  padding-left: 0;
  padding-right: 0;
}
/* end of workaround */

.post-item-sizer {
  visibility: hidden;
  clear: both;
}

.post-item-inner {
  border: 1px #cccccc solid;
  margin: 5px;
  padding: 5px;
}

.post-item-inner .avatar img {
  margin: 0.25em 0.5em;
  width: 2.5em;
  height: 2.5em;
}

.post-item-inner .content {
  padding: 10px;
}

@media (min-width: 1600px) {
  .container {
    width: 1540px;
  }
}

@media print {
  .post-item {
    width: 100%!important;
    position: relative!important;
    top: auto!important;
    bottom: auto!important;
    left: auto!important;
    right: auto!important;
  }
}